{% load static %}
<html lang="en">
<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'dev_career_assistant/style.css' %}" />
    </head>
<body>
        <ul class="topnav">
            <li><a href="/DevCA/languages/">Programming languages</a></li>
            <li><a href="/DevCA/countries/">Countries</a></li>
            <li><a href="/DevCA/overall/">Overall statistics</a></li>
            <li class="right"><a class="active" href="/DevCA/about">About</a></li>
        </ul>
        <div style="padding: 64px 128px; text-align: center;">
            <h2>About</h2>
            <div style="text-align: center;">
                <p>Developers career assistant is a web application created using Python (Django framework) with use of MySQL database as a project for studies.</p>
                <p>User can check most popular programming languages in specific country, check countries in which specific language is the most popular and connections between languages within a specific country.</p>
            </div>
        </div>
</body>
</html>