{% load render_table from django_tables2 %}
{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dev_career_assistant/style.css' %}" />
    </head>
    <body>
        <ul class="topnav">
          <li><a class="active" href="/DevCA/languages/">Programming languages</a></li>
          <li><a href="/DevCA/countries/">Countries</a></li>
            <li><a href="/DevCA/overall/">Overall statistics</a></li>
          <li class="right"><a href="/DevCA/about">About</a></li>
        </ul>

        <div style="padding:0 16px;">
            <h2>Programming languages list</h2>
            <div id="language_list_search" style="text-align: center; ">
                <div style="padding: 20% 10%;">
                    <p>Search for the programming language of your interests.</p>
                    <form action="/DevCA/languages/" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Search" />
                    </form>
                    <p><font color="red">Note: browser is case sensitive.</font></p>
                </div>
            </div>
            <div id="language_list" style="text-align: center; ">
                {% render_table table %}
            </div>
        </div>
    </body>
</html>