{% load static %}
{% load render_table from django_tables2 %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'dev_career_assistant/style.css' %}" />
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
</head>
<body>
        <ul class="topnav">
            <li><a href="/DevCA/languages/">Programming languages</a></li>
            <li><a class="active" href="/DevCA/countries/">Countries</a></li>
            <li><a href="/DevCA/overall/">Overall statistics</a></li>
            <li class="right"><a href="/DevCA/about">About</a></li>
        </ul>
         <div style="padding:0 16px;">
            <h2>Programming language details - {{ language }} in {{ country }}</h2>
            <div id="languages_list" style="text-align: center;">
                <p>Languages most frequently committed with {{ language }} in {{ country }}:</p>
                {% render_table table %}
            </div>
             <div id='container_column_chart' style="text-align: center;">
                 <p>Count of occurences with another languages for {{ language }} in {{ country }}:</p>
                 {{ figure }}
             </div>

        </div>
</body>
</html>