{% load render_table from django_tables2 %}
{% load static %}
{% load chartit %}
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dev_career_assistant/style.css' %}" />
        {{ charts|load_charts:"container_column_chart,container_pie_chart" }}
    </head>
    <body>
        <ul class="topnav">
          <li><a class="active" href="/DevCA/languages/">Programming languages</a></li>
          <li><a href="/DevCA/countries/">Countries</a></li>
            <li><a href="/DevCA/overall/">Overall statistics</a></li>
          <li class="right"><a href="/DevCA/about">About</a></li>
        </ul>

        <div style="padding:0 16px;">
            <h2>Programming language details - {{language}}</h2>
            <div id="languages_list" style="text-align: center;">
                <p>Commits count in each country for {{ language }}:</p>
                {% render_table table %}
            </div>
            <div id='container_column_chart' ></div>
            <div id='container_pie_chart' ></div>
        </div>
    </body>
</html>