{% load static %}
{% load chartit %}

<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'dev_career_assistant/style.css' %}" />
        {{ charts|load_charts:"countries_cc,countries_pc, languages_cc, languages_pc" }}
</head>
<body>
        <ul class="topnav">
          <li><a href="/DevCA/languages/">Programming languages</a></li>
          <li><a href="/DevCA/countries/">Countries</a></li>
            <li><a class="active" href="/DevCA/overall/">Overall statistics</a></li>
          <li class="right"><a href="/DevCA/about">About</a></li>
        </ul>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <div class="charts_container" id='countries_cc' ></div>
                    <div class="charts_container" id='countries_pc' ></div>
                    <div class="charts_container" id='languages_cc' ></div>
                    <div class="charts_container" id='languages_pc' ></div>
                </div>
            </div>
        </div>
    </body>
</html>