body {
    margin: 0;
    font-family: "Verdana";
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #48b8d0;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right,
    ul.topnav li {float: none;}
}

#container_column_chart  {
    float:  right;
    width:  70%;
    height: 40%;
}

#container_pie_chart {
    float:  right;
    width:  70%;
    height: 40%;
}

#language_list_search {
    float:  right;
    width:  70%;
    height: 100%;
}

#languages_list{
    float: left;
    width: 30%;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: /*whatever width you want*/;
}

.charts_container {
    padding: 40px;
}

input[type="submit"] {
    background-color: #48b8d0;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}